/****** Hebergements ***********/
.hebergements {
    width: 65%;
  }
  
  .hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 33px;
  }
  
  .hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hebergements-cards .card {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
  }
  
  .hebergements-cards a {
    display: flex;
    width: 100%;
    flex: 0 1 calc(33.33% - 20px);
  }
  
  .hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-position: center;
  }
  
  .hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .hebergements-cards .card-subtitle {
    margin: 0;
  }
  
  .hebergements-cards .card-rating {
    margin-bottom: 5px;
  }
  
  .afficher {
    margin-top: 33px;
    flex-direction: row;
    display: flex;
  }
  
  .afficher a {
    padding: 5px 0;
    display: flex;
    transition: margin-bottom 0.3s ease;
  }
  
  .afficher i {
    margin-left: 10px;
    line-height: 20px;
    color: var(--main-color);
    display:none;
  }
  